<%= form_with(model: almoxarifado) do |form| %>
  <% if almoxarifado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(almoxarifado.errors.count, "error") %> prohibited this almoxarifado from being saved:</h2>

      <ul>
        <% almoxarifado.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
