<p id="notice"><%= notice %></p>

<h1>Almoxarifados</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @almoxarifados.each do |almoxarifado| %>
      <tr>
        <td><%= almoxarifado.descricao %></td>
        <td><%= link_to 'Show', almoxarifado %></td>
        <td><%= link_to 'Edit', edit_almoxarifado_path(almoxarifado) %></td>
        <td><%= link_to 'Destroy', almoxarifado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Almoxarifado', new_almoxarifado_path %>
