<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @almoxarifado.descricao %>
</p>

<%= link_to 'Edit', edit_almoxarifado_path(@almoxarifado) %> |
<%= link_to 'Back', almoxarifados_path %>
